version: '3.8'

services:
  gateway:
    image: adesk_gateway
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    environment:
      SERVER_PORT: ${GATEWAY_PORT}
      SERVICE_ADMIN_URL: ${SERVICE_ADMIN_URL}
      SERVICE_IDENTITY_URL: ${SERVICE_IDENTITY_URL}
      SERVICE_PROJECT_URL: ${SERVICE_PROJECT_URL}
      SERVICE_OPERATION_URL: ${SERVICE_OPERATION_URL}
      SERVICE_COUNTERPARTY_URL: ${SERVICE_COUNTERPARTY_URL}
      GATEWAY_ALLOWED_ORIGINS: ${GATEWAY_ALLOWED_ORIGINS}
      SPRING_JWT_SECRET: ${SPRING_JWT_SECRET}
    depends_on:
      - admin
      - operation
      - counterparty
      - project
      - identity

  admin:
    image: adesk_admin_service
    ports:
      - "${ADMIN_PORT}:${ADMIN_PORT}"
    environment:
      SERVER_PORT: ${ADMIN_PORT}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_REDIS_HOST: ${SPRING_REDIS_HOST}
      SPRING_REDIS_PORT: ${SPRING_REDIS_PORT}
      SPRING_JWT_SECRET: ${SPRING_JWT_SECRET}

  operation:
    image: adesk_operation_service
    ports:
      - "${OPERATION_PORT}:${OPERATION_PORT}"
    environment:
      SERVER_PORT: ${OPERATION_PORT}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JWT_SECRET: ${SPRING_JWT_SECRET}

  counterparty:
    image: adesk_counterparty_service
    ports:
      - "${COUNTERPARTY_PORT}:${COUNTERPARTY_PORT}"
    environment:
      SERVER_PORT: ${COUNTERPARTY_PORT}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JWT_SECRET: ${SPRING_JWT_SECRET}

  project:
    image: adesk_project_service
    ports:
      - "${PROJECT_PORT}:${PROJECT_PORT}"
    environment:
      SERVER_PORT: ${PROJECT_PORT}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JWT_SECRET: ${SPRING_JWT_SECRET}

  identity:
    image: adesk_identity_service
    ports:
      - "${IDENTITY_PORT}:${IDENTITY_PORT}"
    environment:
      SERVER_PORT: ${IDENTITY_PORT}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JWT_SECRET: ${SPRING_JWT_SECRET}

volumes:
  postgres_data: